RewriteEngine On
RewriteBase /lms/

# If the request is not for a real directory or file, redirect to 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(?!404\.php$).+$ 404.php [R=302,L]

# Custom fallback ErrorDocument
ErrorDocument 404 /lms/404.php
